# Исключить файлы SQLite
*db.sqlite3

# Исключить виртуальное окружение
venv/
env/

# Исключить настройки IDE
.idea/
.vscode/

# Исключить кэш Python
__pycache__/
*.py[cod]

# Исключить логи
*.log

# Исключить файловые дампы
*.dump
